.scatterplotSquare {
    fill-opacity: .7;
    stroke-width: .5px;
    stroke: "white";
}

.dimmed {
    opacity: 0.2;
    transition: opacity;
    transition-duration: .3s;
}

.scatterplotSquare:hover {
    cursor: pointer;
    opacity: 1;
    stroke: black;
    fill-opacity: 1;
    stroke-width: 2px;
}



